{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

<header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/python.jpeg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Simple Python Apps</h1>
                        <hr class="star-light">
                        <span class="skills">Let's Play!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3> Let's Add Some Numbers!</h3>

                    <form action="." method="POST">
                    <input type="text" name="text">
                    <input class="btn btn-primary" type="submit" name="my-form" value="Send">
                    </form>
                </div>
                <div class="col-lg-4">
                    <p> Field report “Golden Wing”:

It all starts when gf1 invites me out to party with my friend hb1. I dress nicely, add a red ring, and take a bottle of apple juice.

On the way to the bus station I greet each person, some just nod gloomily at me and others respond nicely. I admire the passing dog out loud and the owner is very happy about it.

I step on 12ko, which is very empty and soon 2 card reviewers enter. I talk to them a little, and we happily get out together. I run to the 27 in front of me, thank the driver and calmly listen to the music.

I lie down in the park by the anchor and wait for gf1. It makes me a little cold, I sit down and meditate with my eyes open. We approach gf1 and hb1 together, talk a little and drink what they brought.

They both go to the toilet, one group calls me and I join them. Soon the topic of sex comes to the fore and soon after I find out where they are from and where they are going.

Gh1 joins me and we get some juice in exchange for vodka because we ran out of it. I’m a little unhappy, I drank less than 20ml of vodka, but I drank. No matter, a little fun is always healthy. I tease the girl from this party a little, I pretend to make sure she's a boy. Thanks Julien :)

Say goodbye to newly made friends and head to the club. Gf1 is already a little shaky, let's get on the bus. Dissolve at 1 Station later. 500 walk. What fun. We sit in front of the club and wait for the reception.

Hb1 girlfriend gf1 tells me a wish about a transcript and I tie her up with a friend who goes to a newly chosen school. We play around a bit and get in.
I greet the guards, how happy they are, they both go to the toilet and hit me.

——> chode mode: /

I am helpless, 4 months in a relationship has taken away all my strength. I didn’t have to step up to the girl, I didn’t know what to say. I remembered the medication, going out every night and studying (live to try) each step of the Mystery’s method.

They come back, and we go dancing. Let's move to the middle. I let gf1 dance by itself for a while then I kiss her and let her go again. Thanks mystery :) She dances next to me, I pull away from her a bit and hug her again.

During the dance, I watch the other girls look at me. One pretty girl in a group of girls quite a bit. Good pleasure :)

About an hour passes on the dance floor. I’m lucky I don’t care what others think of me, but I’m still very much a log. When suddenly my “favorite piece” arrives, I don’t know the name (sec to look at it), it seems to me to be called “cant hold us”.

——> I died, mission successful

You’ve already seen girls go crazy when they hear a piece they like. Noro. I also experience it for the first time, I soon see how gf1 wants to calm me down. "Don't pretend to be drunk ..." And she fails. Gf1 and hb1 go away, I follow them, but I stop at the exit of the main dance floor to finish the piece. It lasts a total of 7 minutes :)

When he finishes I go to the toilet and meet a classmate. He’s amazed to see me as I haven’t walked out since I have gf1. I exchange numbers and head to the smoking room where the girls are waiting for me. Soon 2 classmates from hb1 join.

——> It’s on

I introduce myself, hb2 has a boyfriend hb3 does not. My classmate will be happy I think. I ask directly if he wants someone for tonight. Surprisingly attached. I immediately start explaining where I am going and say I have one classmate who is just right for her. I very experiencedly explained that it is a player and that it will come in 2 minutes. Full was warmed to meet him.

But I'm not exactly proud of that part. For my party, I ask gf1, “Suppose I go to bed with another today, will you be angry?” She was full angry and stunned. Girls are not capable of logical thinking, not drunk at all. The sentence, however, is one lesson told to us by a professor of logic on a fax machine.

Hb1 and gf1 oddida domyov, later I find out that because of my, logically nothing rude, say. But at that time I was not aware of it, or I didn't care, I lived !!. I escort her out of the club, apologize to her, and promise to bring her flowers the next day (long story short).

I lived my mission, I planned it for a long time during lectures without being able to help myself. My classmate will get a girlfriend. I write to a classmate to come to me to get a girlfriend. And write off my cunt. Don't bother me, I just think, "how grateful you will be to me :)". He can't find us, so we go looking for him, me and hb3.

We’re on the dance floor and walking around hoping to see him. The girl just reaches into my pants and kisses my neck. Somehow I let her try to win me over. Thanks tyler;) I wonder if I'm fasting for her or not, my girlfriend dominates. Good thing I was sober because drunk I don’t know what would happen. Since we couldn't find a classmate, we sat down and waited for him to come past us.

I meet another classmate who writes almost every exam 100%, but I'm here with the king, I think. I offer hb3 to escort her home and tell her she will give him bj but she refuses and goes home alone.

Finally a classmate comes up to me.

——> Now it’s time

I tell the girl it's this guy, "he will make you cum in 2 minutes" I tell her. "He's the best."
They shake hands and we slowly move our way to the toilet. I see that my classmate is scared and goes away from hb3. I look where hb3 is and see how she looks at the guy who walked past her.

What !! She had eyes, wft of what I am capable of. I quickly grab the hb3 with my left hand and the classmate with my right. I say something fun and hb3 is focused on me again. Let’s go and luckily the last women’s toilet is free. I both push inside and slam the door. (I can't lock)

——> God mode begins

I dreamed of completing a pickup mission. Get a girl to another. And from now on, I’ll always go last out of the club until all my friends get company or give up.

I felt better than if I had seduced hb3 myself. I still have gf1 and all my friends are happy. (Amout that 😅)

There is no more fear. I approach Group 1. I don't know how to start, but they're already laughing. The answer comes, we have a boyfriend. Here you can see what condition I am in. I answer “Oh, how long have you had this problem”. And I really thought that, I didn’t say it just because I knew it worked. I just wanted to talk and share fun stories.

The girls were dying for laughter when they realized I didn’t care about their friends. It takes 20 minutes, the group of girls is growing, and I tell them what I did, I see in their eyes that they are not quite sure or I am telling the truth. What so, I have a wonderful time.

I'm going back to see what's going on in the toilet. When I look through the entrance, I see one girl open the door, and see what’s going on inside. What an expression on my face, I'm dying for a laugh.

They come out soon, a friend thanks me, and hb3 says nothing happened. They are already 10 meters away and I shout all over the whole club, "Take her home". Everyone around was a little scared, but it was worth it.

I go to the dance floor, sit on one edge table and just enjoy the music and focus on my feelings. Just when I think the night can't get any better, hb4 (new girl) shakes my hand.

I grab her and follow her. She took me to her friend, hb5. I invite her to the dance floor but she doesn't want to. I turn around, grab my right hand from hb4, rotate it and hang it over my shoulder. Even before he realizes, we're already dancing. I wasn’t afraid of anything, I smoked as much as I could. I try all the drty poses I can remember and the girl is ful heated. I kiss her on the neck, then indicate that I would put it on my mouth as well. He runs towards me and I barely pull away. Then I whisper in my ear “Not yet”. A minute later I grab her by the chin and signal her to kiss her and quickly pull away. What I see is how angry she is. What her eyes are burning. No hesitation. I start unbuckling her belt on the dance floor, whispering, “I need to see where my friend is,” and she’s gone.

I sit back and enjoy music then head home :)

On the way home, I think about what crazy things have happened to me and I am grateful to all the pua instructors. 

——-/-/———-
That story ouch. Thanks tucker. </p>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
